main.aux
main.log
main.out
main.pdf
main.synctex.gz
main.tdo
main.thm
main.toc
main.fdb_latexmk
main.fls
01-introduction.tex.bak
02-linear-optimization-extreme-pointsI.tex.bak
main.bbl
main.blg
main.dvi
main.tex.bak
04-projection-on-polyhedra.aux
04-projection-on-polyhedra.log
04-projection-on-polyhedra.out
04-projection-on-polyhedra.pdf
04-projection-on-polyhedra.synctex.gz
04-projection-on-polyhedra.thm


