main.aux
main.log
main.out
main.pdf
main.synctex.gz
main.tdo
main.thm
main.toc
main.fdb_latexmk
main.fls
01-introduction.tex.bak
02-linear-optimization-extreme-pointsI.tex.bak
main.bbl
main.blg
main.dvi
main.tex.bak
*.aux
*.log
*.out
*.pdf
*.synctex.gz
*.thm


